In [42]:
import tensorflow
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [43]:
model = load_model('model.h5')

with open('label_encoder_gender.pk1', 'rb') as file:
    label_encoder_gender = pickle.load(file)


with open('one_hot_encoder.pk1', 'rb') as file:
    one_hot_encoder = pickle.load(file)


with open('scaler.pk1', 'rb' ) as file:
    scaler = pickle.load(file)

In [44]:
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [45]:
geo_encoded = one_hot_encoder.transform([[input_data['Geography']]])
geo_encoded_df = pd.DataFrame(geo_encoded, columns = one_hot_encoder.get_feature_names_out(['Geography']))
geo_encoded_df

c:\Users\tariq\Desktop\Neural Network Project\venv\Lib\site-packages\sklearn\utils\validation.py:2691: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [46]:
input_data = pd.DataFrame([input_data])
input_data

   CreditScore Geography Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France   Male  ...          1               1            50000

[1 rows x 10 columns]

In [47]:
input_data['Gender'] = label_encoder_gender.transform(input_data['Gender'])
input_df = pd.concat([input_data.drop(columns = 'Geography'), geo_encoded_df], axis = 1)
input_df

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       1  ...                0.0              0.0

[1 rows x 12 columns]

In [48]:
input_scaled = scaler.transform(input_df)
input_scaled

array([[-0.51182628,  0.91094795,  0.09753268, -0.69401592, -0.27094448,
         0.80169526,  0.64414865,  0.96245432, -0.87361149,  0.99277609,
        -0.58485614, -0.56426196]])

In [49]:
prediction = model.predict(input_scaled)
prediction

1/1 [==============================] - 0s 48ms/step

array([[0.02671587]], dtype=float32)

In [50]:
prediction_proba = prediction[0][0]
prediction_proba

0.026715871

In [51]:
if prediction_proba > 0.5:
    print("The customer is likely to churn")
else:
    print("The customer is not likely to churn")

The customer is not likely to churn